@import url(https://fonts.googleapis.com/css?family=Bigshot+One);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
body{
  text-align:center;
  background: url("images/photo-yoga-on-cliff-10015.jpg");
  background-size: cover;
  color: #24ff4f;
  font-family: Bigshot+One;
}
h1,h2{
  background-color: red;
  padding: 20px;
  border: 1px black solid;
	color:#24ff4f;
	font-family: Audiowide;
}
h2{
	font-style: italic;
}
hr{
  width: 200px;
}
p {
  font-size: 22px;
}
nav {background-color: #E8C66A;
  border: 1px black solid;
  padding: 20px;
}
footer {background-color: #FF957E;
  border: 1px black solid;
  padding: 20px;
}
header {background-color: #FFED74;
  border: 1px black solid;
  padding: 20px;
}
#two_column {
  background-color: #FFB7CF;
  border: 1px black solid;
  padding: 20px;
}
#left {
  background-color: violet;
  border: 1px black solid;
  padding: 20px;
  width: 30%;
}
#right {
  background-color: pink;
  border: 1px black solid;
  padding: 20px;
  width: 62%;
}
