@import url(https://fonts.googleapis.com/css?family=Bigshot+One);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
body{
  text-align:center;
  background: url("images/photo-yoga-on-cliff-10015.jpg");
  background-size: cover;
  color: #24ff4f;
  width: 100%;
  font-family: Bigshot+One;
}
h1,h2{
  text-align:center;
  background-color: red;
  padding: 20%;
  border: 1% black solid;
	color:#24ff4f;
	font-family: Audiowide;
}
h2{
  text-align:center;
	font-style: italic;
}
hr{
  width: 100%;
}
p {
  text-align:center;
  font-size: 16px;
}
nav {
  text-align:center;
  background-color: #E8C66A;
  border: 1%black solid;
  padding: 20%;
}
footer {
  text-align:center;
  background-color: #FF957E;
  border: 1% black solid;
  padding: 20%;
}
header {
  text-align:center;
  background-color: #FFED74;
  border: 1% black solid;
  padding: 20%;
}
#two_column {
  text-align:center;
  background-color: #FFB7CF;
  border: 1%black solid;
  padding: 20%;
}
#left {
  text-align:center;
  background-color: violet;
  border: 1% black solid;
  padding: 20%;
  width: 30%;
}
#right {
  text-align:center;
  background-color: pink;
  border: 1% black solid;
  padding: 20%;
  width: 62%;
}

@media only screen and (max-width: 300px) {
  .article {
    float: none;
    width: auto;
  }
  .aside {
    float:none;
    width: auto;
  }
  h1 {float:none;
    width: auto;
  }
  h2 {float:none;
    width: auto;
  }


